In [3]:
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.appName("Titanic Data ETL").getOrCreate()

# Read CSV into DataFrame
df = spark.read.csv(r"C:\Users\user\Desktop\asd\train_and_test2.csv", header=True, inferSchema=True)

# Perform simple transformation: calculate average age
avg_age = df.groupBy().avg("Age").collect()[0][0]
print(f"Average Age of Passengers: {avg_age}")

# Save transformed DataFrame to a new CSV
df.write.csv("path_to_output_directory")

# Stop the SparkSession
spark.stop()

Average Age of Passengers: 29.50318563789152